:root {
	/* Fonts */
	/* !!! Need to provide "On Air Var" font from O2 team */
	--font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
	--font-letter-spc-label: 0.16px;

	--font-size-label-m: 1rem /* 16px */;
	--font-weight-label-m: 500;
	--font-line-height-body-m: 1.37; /* 22px */
	--font-letter-spc-label-m: var(--font-letter-spc-label);

	--font-size-label-s: 0.875rem /* 14px */;
	--font-weight-label-s: 550;
	--font-line-height-label-s: 1.21; /* 17px */
	--font-letter-spc-label-s: var(--font-letter-spc-label);

	--font-size-body-m: 1rem /* 16px */;
	--font-weight-body-m: 400;
	--font-line-height-body-m: 1.37; /* 22px */
	--font-letter-spc-body-m: 0.01px;

	/* Colors */
	--o2-color-surface-x-high: #8c8c9a;
	--o2-color-surface-x-low: #ffffff;
	--o2-color-surface-x-brand: #0050ff;
	--o2-color-surface-x-danger: #dc2828;
	--o2-color-surface-x-danger-variant: #ffdcdc;
	--o2-color-surface-x-warning: #a56315;
	--o2-color-surface-x-warning-variant: #faf1b6;

	--o2-color-content-on-neutral-xx-high: #2c2c31;
	--o2-color-content-on-neutral-medium: #8c8c9a;
	--o2-color-content-on-neutral-low: #c9c9ce;
	--o2-color-content-on-neutral-danger: #dc2828;
	--o2-color-content-on-neutral-warning: #a56315;

	--o2-color-state-default-hover: hsla(0, 0%, 10%, 0.059);
	--o2-color-state-default-focus: hsla(0, 0%, 10%, 0.8);

	/* Spacings */
	--dimension-radius-input: 0.75rem; /* 12px */

	/* Spacings */
	--dimension-xs: 0.5rem; /* 8px */
	--dimension-s: 0.75rem; /* 12px */
	--dimension-m: 1rem; /* 16px */
	--dimension-l: 1.25rem; /* 16px */
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	background-color: var(--o2-color-surface-x-low);
	color: var(--o2-color-content-on-neutral-xx-high);
}

h1 {
	font-size: 3.2rem; /* 51.2px */
	line-height: 1.1;
	text-transform: uppercase;
}

main {
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.section-one {
	padding: 2rem 0;
}

.input-group {
	display: flex;
	flex-direction: column;
}

.base-input-wrapper > :nth-child(n + 2),
.input-group > :nth-child(n + 2) {
	margin-top: var(--dimension-xs);
}

.base-input-label-wrapper {
	display: flex;
	align-items: center;
}

.base-input-label.optional-label {
	font-size: var(--font-size-label-s);
	color: var(--o2-color-content-on-neutral-low);
}

.base-input-label-wrapper > :nth-child(n + 2) {
	margin-left: var(--dimension-xs);
}

.base-input-label {
	font-size: var(--font-size-label-m);
	font-weight: var(--font-weight-label-m);
	line-height: var(--font-line-height-label-m);
	letter-spacing: var(--font-letter-spc-label-m);
}

.base-input {
	width: 100%;
	max-width: 25rem; /* 400px */
	padding: var(--dimension-s) var(--dimension-m);
	border: 1px solid var(--o2-color-surface-x-high);
	border-radius: var(--dimension-radius-input);
	font-size: var(--font-size-body-m);
	line-height: var(--font-line-height-body-m);
	transition: border-color 0.2s ease-in-out;
}

.base-input.input-error {
	border-color: var(--o2-color-surface-x-danger);
}

/* Uncomment this code if we need a `:hover` effect */
/* .base-input:hover {
	border-color: var(--o2-color-state-default-hover);
} */

.base-input:focus {
	outline-color: var(--o2-color-state-default-focus);
}

.base-input::placeholder {
	color: var(--o2-color-content-on-neutral-low);
}

.button {
	padding: var(--dimension-s) var(--dimension-m);
	border: none;
	border-radius: var(--dimension-radius-input);
	font-size: var(--font-size-body-m);
	font-weight: var(--font-weight-body-m);
	line-height: var(--font-line-height-body-m);
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	margin-top: var(--dimension-m);
}

.validation-error-message {
	font-size: var(--font-size-label-s);
	color: var(--o2-color-surface-x-danger);
}
