:root {
	/* Fonts */
	--font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
	--font-letter-spc-label: 0.16px;

	--font-size-label-m: 1rem /* 16px */;
	--font-weight-label-m: 500;
	--font-line-height-body-m: 1.37; /* 22px */
	--font-letter-spc-label-m: var(--font-letter-spc-label);

	--font-size-label-s: 0.875rem /* 14px */;
	--font-weight-label-s: 550;
	--font-line-height-label-s: 1.21; /* 17px */
	--font-letter-spc-label-s: var(--font-letter-spc-label);

	--font-size-body-m: 1rem /* 16px */;
	--font-weight-body-m: 400;
	--font-line-height-body-m: 1.37; /* 22px */
	--font-letter-spc-body-m: 0.01px;

	/* Colors */
	--o2-color-surface-x-high: #8c8c9a;
	--o2-color-surface-x-low: #ffffff;
	--o2-color-surface-x-brand: #0050ff;
	--o2-color-surface-x-danger: #dc2828;
	--o2-color-surface-x-danger-variant: #ffdcdc;
	--o2-color-surface-x-warning: #a56315;
	--o2-color-surface-x-warning-variant: #faf1b6;

	--o2-color-content-on-neutral-xx-high: #2c2c31;
	--o2-color-content-on-neutral-medium: #8c8c9a;
	--o2-color-content-on-neutral-low: #c9c9ce;
	--o2-color-content-on-neutral-danger: #dc2828;
	--o2-color-content-on-neutral-warning: #a56315;

	--o2-color-state-default-hover: hsla(0, 0%, 10%, 0.059);
	--o2-color-state-default-focus: hsla(0, 0%, 10%, 0.8);

	/* Spacings */
	--dimension-radius-input: 0.75rem; /* 12px */

	/* Spacings */
	--dimension-xs: 0.5rem; /* 8px */
	--dimension-s: 0.75rem; /* 12px */
	--dimension-m: 1rem; /* 16px */
	--dimension-l: 1.25rem; /* 16px */
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: var(--o2-color-content-on-neutral-xx-high);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

main {
	min-height: 100vh;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	place-items: center;
}
